.bb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}


#cam-stream,
#canvas {
    position: absolute;
    padding-top: 600px;

}

.popup-result {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    z-index: 9999;
    text-align: center;
}

.popup-result-content {
    font-size: 18px;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    /* Adjust width as needed */
}

.popup h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.popup button {
    padding: 10px 20px;
    margin: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup button:hover {
    background-color: #45a049;
}


#startButton {
    background-color: #4CAF50;
    /* Green background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Padding */
    text-align: center;
    /* Center text */
    text-decoration: none;
    /* Remove underline */
    display: inline-block;
    /* Display as inline-block */
    font-size: 16px;
    /* Font size */
    margin: 4px 2px;
    /* Margin */
    transition-duration: 0.4s;
    /* Animation duration */
    cursor: pointer;
    /* Cursor pointer */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    /* Add shadow */
}

/* Change the color of the button when hovered */
#startButton:hover {
    background-color: #45a049;
    /* Darker green */
}


#timer {
    font-family: Arial, sans-serif;
    /* Choose a suitable font */
    font-size: 15px;
    /* Font size */
    color: #333;
    /* Text color */
    padding: 10px;
    /* Padding */
    border-radius: 5px;
    /* Rounded corners */
    text-align: center;
    /* Center text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add shadow */
    width: 200px;
    /* Set a fixed width */
    margin: 0 auto;
    /* Center horizontally */
}


.therapy-guidance-popup-content {
    background-color: #ddf3d0;
    margin: 5% auto;
    margin-top: 25px;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
}

.therapy-guidance-popup {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}



.therapy-guidance-close {
    color: #aaa;
    float: right;
    font-size: 66px;
    font-weight: bold;
    cursor: pointer;
}

.therapy-guidance-close:hover,
.therapy-guidance-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#exerciseVideo {
    width: 100%;
    /* Ensure the video takes up the full width of the popup */
    height: auto;
    /* Maintain aspect ratio */
}